<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Capital</th>
            <th>Region</th>
            <th>Population</th>
            <th>Flag</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let countrie of countries; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ countrie.name }}</td>
            <td>{{ countrie.capital }}</td>
            <td>{{ countrie.region }}</td>
            <td>{{ countrie.population | number }}</td>
            <td>
                <img class="flag" src="{{ countrie.flag }}" alt="flag">
            </td>
        </tr>
    </tbody>
</table>